@font-face {
    font-family: "Digital-7";
    src: url("/digital-7.woff2") format("woff2"),
        url("/digital-7.woff") format("woff"),
        url("/digital-7.ttf") format("truetype");
}

.number-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 250px;
    height: 150px;
    box-shadow: 0 0 20px #00ff00;
}

@media (max-width: 767px) {
    .number-display {
        height: 100px;
        padding: 10px;
    }

    .number {
        font-size: clamp(25px, 6vw, 50px);
    }

    .unit {
        font-size: clamp(12px, 4vw, 20px);
    }
}

.number {
    font-family: "Digital-7", sans-serif;
    font-size: clamp(30px, 6vw, 60px);
    line-height: 1.2;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    margin: 0;
}

.unit {
    font-family: "Digital-7", sans-serif;
    font-size: clamp(15px, 4vw, 25px);
    line-height: 1.2;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    margin-top: 5px;
}